@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans';
  text-size-adjust: none;
}
/* mobile first */
.body {
  background-color: hsl(236, 33%, 92%);
  background-image: url('./images/bg-mobile-light.jpg');
  background-repeat: no-repeat;
  overflow-x: hidden;
  position: relative;
  height: 100vh;
  width: 100vw;
}
.body.dark {
  background-color: hsl(235, 21%, 11%);
  background-image: url('./images/bg-mobile-dark.jpg');
}
.App {
  height: 90vh;
  width: 90vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* styling header component */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 6px;
  color: white;
  font-weight: 700;
  margin-bottom: 35px;
}
/* styling the input component */
form {
  display: flex;
  font-size: 18px;
  background-color: hsl(0, 0%, 98%);
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 15px;
  color: hsl(235, 19%, 35%);
}
form.dark {
  background-color: hsl(235, 24%, 19%);
  color: hsl(234, 11%, 52%);
}
form span {
  margin: 5px;
}
form input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
}
form.dark input {
  color: hsl(236, 9%, 61%);
}
::placeholder {
  color: hsl(235, 19%, 35%);
}
form.dark ::placeholder {
  color: hsl(236, 9%, 61%);
}
/* styling todoList */
.todoList {
  background-color: hsl(0, 0%, 98%);
  border-radius: 4px;
  margin-bottom: 15px;
}
.dark .todoList {
  background-color: hsl(235, 24%, 19%);
}
.todoTemplate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid hsl(233, 11%, 84%);
  padding: 14px;
}
.dark .todoTemplate {
  border-bottom: 0.5px solid hsl(233, 14%, 35%);
  color: hsl(236, 9%, 61%);
}
.todoTemplate div {
  border-radius: 4px;
  display: flex;
  align-items: center;
}
.todoTemplate span {
  line-height: 80%;
  text-size-adjust: none;
  padding: 0;
}
.checkCircle,
.checkedCircle {
  margin-right: 8px;
  cursor: pointer;
}
.checkedCircle {
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border-radius: 50%;
}
.complete {
  color: hsl(236, 9%, 61%);
  text-decoration: line-through;
}
.deleteTask {
  cursor: pointer;
}
.infoAndActivity {
  padding: 14px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsl(236, 9%, 61%);
}
.infoAndActivity .options {
  display: none;
}
.options {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 98%);
  padding: 14px;
  border-radius: 4px;
}
.dark .options {
  background-color: hsl(235, 24%, 19%);
}
.options button {
  border: none;
  outline: none;
  background-color: transparent;
  margin: 0 5px;
  font-size: 13px;
  color: hsl(236, 9%, 61%);
  cursor: pointer;
}
.options .btn.active {
  color: hsl(220, 98%, 61%);
}
@media all and (min-width: 375px) {
  .body {
    background-image: url('./images/bg-desktop-light.jpg');
  }
  .body.dark {
    background-image: url('./images/bg-desktop-dark.jpg');
  }
  .App {
    max-width: 400px;
  }
  .header {
    margin: 25px 0 35px;
  }
  .options {
    display: none;
  }
  .infoAndActivity .options {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
}
